body
{
	margin: 0px;
}
*
{
    font-family: 'Open Sans', sans-serif;
}
a
{
	color: inherit;
	text-decoration: none;
}
a:hover
{
	text-decoration: none;
}
img
{
	width: 100%;
}
.container
{
	max-width: 1170px;
	width: 1170px;
	margin: 0 auto;
}
.row
{
	width: 100%;
	/*display: flex;*/
    margin: 0px !important;
}
.text-center
{
	text-align: center;
}
.display_flex {

    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

}
.float-right
{
	float: right;
}
.padding-right-0
{
	padding-right: 0px !important;
}
/********************************************
*********************************************
*********************************************
**************** Home Page ******************
*********************************************
*********************************************
*********************************************
*/
p {
    font-size: 15px;
}

.section_2_home_page {
    width: 100%;
    background-color: #cbd2d3;
    background-size: 890px 890px;
    background-repeat: no-repeat;
    padding-bottom: 161px;
    background: #cbd2d3 url(./includes/images/map-home.png);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    padding: 100px 0px;
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 700px;
    float: left;
    position: relative;
    background-color: #cbd2d3;
    background-size: 890px 890px;
    background-repeat: no-repeat;
}
.sv_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 890px;
    height: 100%;
    overflow: hidden;
}
.svg {
    overflow: hidden;
}
.svg svg
{
        transform: translateY(-25px);
    width: 890px;
    height: 890px;
}
.svg path
{
    fill: none;
    stroke: none;
}
.section_2_home_page .container
{
	padding: 0px 0px;
	position: relative;
	height: 100%;
}
.main_container_section_2_homepage
{
	padding: 100px 0px !important;
}
.block_right {
    position: absolute;
    top: 0px;
    background: #02263B;
    width: 394px;
    height: 394px;
    right: 0px;
    text-align: center;

}
.block_right .display_flex h2
{
    align-content: center;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 600;
}
.left_block {
    width: 33%;
    float: left;
    background: #fff;
    display: block;
    border: 4px solid #02263B;
    display: flex;
    align-items: center;
    height: 550px;
    padding: 40px 0px;

}
.container.main_container_section_2_homepage {
    height: 700px;
}
.left_block .container {

    width: 90%;
    padding: 0px;
    display: block;
    max-width: 100%;

}
.left_block .container .row .col-md-6:first-child {
    padding: 0px;
}
.left_block .container .row .col-md-6:last-child {
    padding-right: 0;
}
.main_heading_left_block_section_2--home_page {
    font-weight: 600;
    color: #4691a8;
    font-size: 34px;
    margin: 0px 0px 20px;
}
.heading_block_left_section-2--home_page {

    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    display: block;
    font-weight: 700;
    text-transform: capitalize;

}
.description_left_block_section_2--home_page
{
	width: 90%;
}
.botton_text_section_2--home_page {
    width: 50%;
    position: absolute;
    bottom: 47px;
    right: 0;
    color: #000;
    font-weight: 400;

}
.view_more_button_section_2--home_page
{
    padding: 35px 25px 35px;
    color: #fff;
    background-color: #4691a8;
    border-color: #005cbf;
    cursor: pointer;
    border-radius: 6px;
    text-transform: capitalize;
}
.section_5--home_page .container_hight-100 .container
{
    width: 90%;
    max-width: 90%;
}
.description_bottom_text_section_2--home_page
{
	width: 90%;
	margin: 0px;
}

.section_3--home_page
{
	float: left;
	width: 100%;
	padding: 80px 0px;
	background: #f7f7f7;
}
.heading_section_3
{
	font-weight: 600;
    color: #23444e;
    margin: 0px 0px 30px 0px;
}
.col-md-6-with-padding
{
	padding: 0px 20px;
	width: 46%
}
.heaidng_right_section_3_section-3--home_page
{
	    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    display: block;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px;
}
.align-item-top
{
	align-items: baseline;
}
.section_4--home_page
{
	float: left;
	width: 100%;
	padding: 60px 0px;
}
.view_more_button_section_2--home_page1
{
	background: #334692
}


.right_column_section_4--home_page
{
    border: 4px solid #23444e;
    padding: 40px 30px;
    height: auto;
    margin-top: -100px;
    width: 35%;
    padding: 80px 0px 20px;
    position: absolute;
    right: 0px;
}
.col-md-6.col-md-6-with-padding .row .col-md-6:first-child {
    padding: 0px;
}
.col-md-6.col-md-6-with-padding .row.display_flex .col-md-9 {
    padding: 0px;
}
.heading_section_4--home_page {
    color: #2f4794;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: -20px;
}
.section_5--home_page
{
    float: left;
    width: 100%;
    background-color: #02263b;
    height: 276px;
    color: #fff;
    margin-bottom: 50px;
    padding: 39px 0px 34px;
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.section_6--home_page.case_studies_section--homepage .container .row {
    display: block;
}
.column_section-5--home_page {
    width: 33%;
    /* float: left; */
    padding: 0px 20px;
    text-align: center;
}
.container_hight-100
{
	height: 100%;
}
.column_section-5--home_page h1,
.column_section-5--home_page h2,
.column_section-5--home_page h3,
.column_section-5--home_page h4,
.column_section-5--home_page h5,
.column_section-5--home_page h6
{
	margin: 0px;
}
.heaidng_clients_section-5
{
    font-size: 5rem;
    font-weight: 1000;
    text-align: center;
    display: block;
}
.heading_located_in_section-5--home_page
{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}
.column_section-5--home_page.border-left-right__home_page--section_5 {
    border: 3px solid #fff;
    border-top: 0;
    border-bottom: 0px;
}
.Clients_satsisfied
{
    font-size: 1.3rem;
    text-align: center;
    display: block;
}
.section_5--home_page .container_hight-100 .container .row .col-md-4:last-child {
    border: 0;
}

.section_5--home_page .container_hight-100 .container .row .col-md-4 {
    border-right: 1px solid #ccc;
    min-height: 203px;
    display: grid;
    align-items: center;
}
.heaidng_3_section_5--home_page
{
	font-size: 2rem
}
.column_section-5--home_page h5
{
	font-weight: 100;
}
.columns_casestudies_homepage {
    width: 32%;
    float: left;
    border: 3px dotted #000;
    height: 250px;
    display: flex;
    align-items: center;
    border-left: 0;
    border-top: 0;
}
.columns_casestudies_homepage img {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 50px;
}
.columns_casestudies_homepage a {
    display: block;
    width: 100%;
    height: 100%;
}
.casestudies-description_homepage
{
	width: 85%;
	margin: 0 auto 70px;
	font-size: 17px;
}
.section_7--home_page.blog .container .row {
    display: block;
}
.border-btoom_0
{
	border-bottom: 0;
}
.border-rihgtee_0
{
	border-right: 0px;
}
.section_6--home_page
{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.section_7--home_page
{
    float: left;
    width: 100%;
    background: #f7f7f7;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
}
.blog-column.col-md-4 .container {
    width: 100%;
    background: #e4e4e4;
    height: 415px;
    padding: 20px 15px;
}
.blog-column
{
    display: block;
    float: left;
    position: relative;
}
.blog_heading_title--homepage
{
    margin: 10px 0px;
    font-size: 19px;
    font-weight: 600;
}
.excerpt_blog--homepage
{
    font-size: 17px;
    color: #000;
    font-weight: 450;
}
span.pusblished_blog_date--home_page {
    position: absolute;
    bottom: 16px;
    font-size: 12px;
    left: 30px;
}
.Browse_all--home-page
{
    width: 143px;
    display: block;
    height: 35px;
    background: #02263b;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 32px;
    margin: 50px auto 0px;
}
.the_post_thumbnail_blog_home
{
    display: block;
    width: 100%;
    height: 190px;
    overflow: hidden;
}
.row.the_post_thumbnail_blog_home img {
    height: 100%;
}
.button_row_blog
{
    float: left;
    text-align: center;
    margin: 50px 0px 0px;
}
.section8--homepage.join_our_team
{
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.heaidng_join {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 40px;
    color: #1f1f1f;
    margin-bottom: 80px;
}
.block_left_join_out_team1
{
    width: 611px;
    float: left;
    position: relative;
    height: 390px;
    display: block;
    background: url('./includes/images/join_our_team/job.svg');
}
.block_left_join_out_team1 h2 {
    color: #fff;
    font-size: 18px;
    width: 360px;
    position: absolute;
    right: 31px;
    top: 20px;
}
.applynow_row
{
        position: absolute;
    bottom: 50px;
    left: 40px;
    display: block;
}
.padding-right-left-0
{
    padding: 0px;
}
.button_arrow_block_join_our_team
{
    position: relative;
    bottom: 0px;
    width: 88px;
    height: 43px;
    display: block;
    border: 3px solid #fff;
}
span.button_arrow_block_join_our_team img {
    width: 39px;
    height: 24px;
    margin: 0 auto;
    display: block;
    margin-top: 6px;
}
.applynow_text--home
{
    color:  #fff;
    margin: 20px 0px;
    display: block;
}
.icon_shake1
{
    height: 112px;
    width: 80px;
    position: absolute;
    bottom: 40px;
    right: 50px;
}
.block_right_join_our_team--homepage {
    display: block;
    width: 196px;
    height: 196px;
    border: 4px solid #4691a8;
    margin-left: -10px;
    float: left;
}
.main_row_join_our_team--homepage
{
    display: block;
    width: 834px;
    margin: 0 auto !important;
    display: flex;
    margin: 0 auto;
    /* text-align: center; */
}
.block_right_join_our_team--homepage .display_flex span
{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: #4691a8;
    text-transform: capitalize;
    font-weight: 600;
}
.block_left_join_out_team21
{
    background: url('./includes/images/join_our_team/careers.svg');
}
.block_right_join_our_team--homepage1 .display_flex span>span
{
    font-size: 13px;
    display: block;
    width: 80%;
    color: #044e5e;
    margin: 0 auto;
    margin-top: 20px;
}
.block_right_join_our_team--homepage1
{
    border-color: #02273b;
    margin-right: -10px;
}
.block_right_join_our_team--homepage1 .display_flex span
{
    color: #02273b;
}
.block_left_join_out_team21 h2
{
    left: 30px;
}
.icon_shake21
{
    left: 50px;
    width: 110px;
}
.applynow_row1
{
    right: 30px;
    width: auto;
    left: auto;
    display: block;
}
.margin_0auto
{
    margin: 0 auto;
}
.heaidng_join1
{
    margin-top: 50px;
}




/*blog page */


.nav.nav-tabs {
    float: right !important;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #ccc;
}

.nav-tabs .nav-link.active {
    color: #495057;
    /*background-color:#007bff !important;*/
    border-color: 1px solid #000 !important;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
}
.tab-content>.active {
    display: block;
    /*background: #007bff;*/
    min-height: 165px;
}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}
.tab-content
{
    overflow: hidden;
}
.tab-content img
{
    width: 100%;
    height: 100%;
}

.row.row_contains_blog img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.row.row_contains_blog {
    margin: 50px 0px !important;
    display: flex;
    align-items: end;
}
.the_post_thumbnail_blog
{
    display: block;
    height: 230px;
}
.row.breaducrumb_blog_post {
    font-size: 11px;
    text-transform: capitalize;
    color: #24779a;
}
.row.the_title_blog_post {
    font-size: 23px;
    display: block;
    margin: 14px 0px;
}
.row.the_excerpt_blog_post p {
    font-size: 14px;
    display: block;
    margin: 20px 0px;
    color: #5a5757cc;
}
span.timeadde {
    font-size: 11px;
    text-transform: capitalize;
}
span.image_container_author {
    display: block;
    background: red;
    border: 1px solid #000;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.display_block
{
    display: block;
    width: 100%;
}
.row.the_post_thumbnail_single_related img {
    width: 100%;
    height: 100%;
}

.row.the_post_thumbnail_single_related {
    /* width: 169px; */
    height: 116px;
    overflow: hidden;
}
.row.the_post_title_single_related {
    font-size: 17px;
    display: block;
    font-weight: 1000;
    line-height: 20px;
    width: 90%;
    margin: 20px 0px !important;
}
.row.realted_post-container .col-md-4:first-child {
    padding-left: 0px;
}
h3.display_block.realted_post-container_hading {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
h3.display_block.realted_post-container_hading span {
    text-transform: capitalize;
    font-size: 18px;
    background: #21739c;
    padding: 4px 40px;
    color: #fff;
}
.main_single_post_container
{
    margin-top: 60px !important;
}
.row.the_title-single {
    font-size: 40px;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    font-weight: 1000;
}
.row.the_author_single {
    margin: 12px 0px !important;
    display: block;
    font-size: 13px;
    text-transform: capitalize;
}
.row.the_content_single p {
    margin-top: 30px;
    margin-bottom: 0px;
}
.row.the_content_single p br {
    display: none;
}
.row_main_bg_career
{
    height: 80vh;
    background-size: 100% !important;
    background-position: bottom !important;
}
h3.heading_container_main_career {
    font-size: 80px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.heading_container_main_career_main p
{
    text-transform: capitalize;
    color: #fff;
    font-weight: 1000;
    font-size: 20px;
}
ul.career_list_container li .row .col-md-4 {
    padding: 0px;
    font-size: 18px;
}
ul.career_list_container li .row .col-md-8 {
    padding: 0px;
}
ul.career_list_container li {
    margin: 20px 0px;
    border-bottom: 1px solid #ccc;
}
ul.career_list_container {
    list-style: none;
    padding: 0px;
    margin: 30px 0px 50px;
}
ul.career_list_container li .row .col-md-8 a {
    text-transform: capitalize;
    padding-left: 20px;
    color: #000;
    font-weight: 1000;
    font-size: 19px;
}
ul.career_list_container li .row .col-md-4 .row .col-md-6:first-child {
    text-align: right;
    font-size: 18px;
    text-transform: capitalize;
    border-right: 1px solid #000;
}
ul.career_list_container li .row .col-md-4 .row .col-md-6:last-child {
    font-size: 18px;
    text-align: left;
    text-transform: capitalize;
}
ul.career_list_container li .row .col-md-4 .row {
    padding-left: 120px;
}
.row_main_bg_career.display_flex {
    margin-bottom: 40px;
}

/*case study*/


.images_projects_container img
{
    width: 100%;
    height: 100%;
    padding: 60px;
}

.projects_container .col-md-4:last-child,
.projects_container .col-md-4:nth-child(3n)
{
    border-right: 0;
}
.projects_container .col-md-4:last-child,
.projects_container .col-md-4:nth-last-child(2),
.projects_container .col-md-4:nth-last-child(3)
{
    border-bottom: 0;
}

.images_projects_container
{
    border: 4px dotted #000;
    min-height: 260px;
    border-left: 0;
    border-top: 0;
    align-items: center;
    display: flex;
    max-height: 260px;
}


.casestudy_heaing
{
    display: block;
    width: 350px;
    text-transform: capitalize;
    font-weight: 1000;
}
.casestudy_text
{
    width: 80%;
    display: block;
}
.button_link_casestudies a
{
    background: #4691a8;
    padding: 8px 30px;
    display: block;
    width: 200px;
    text-transform: capitalize;
    color: #fff;
}
.top_row_casestudies
{
    display: block;
    margin: 20px 0px 50px !important;
}
.button_link_casestudiesa a
{
    margin: 0 auto;
}
.heading_bottom_casestudies_main_row
{
    display: block;
    margin: 40px 0px !important;
}



/*hoem apge header*/
.heade_homepage {
    background: #4691a8;
    height: 700px;
}
.years_container {
    display: block;
    width: 355px;
    height: 355px;
    background: #02273b;
    color: #fff;
    padding: 20px 50px;
    position: relative;
}
span.compnaY_name {
    width: 20px;
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 30px;
}
span.actual_years {
    position: absolute;
    font-size: 195px;
    font-weight: 600;
    top: 46px;
    bottom: 0;
    left: 87px;
    right: 0;
    background: transparent;
    display: block;
}
span.more_than {
    position: absolute;
    left: 0px;
    transform: rotate(-90deg);
    top: 0px;
    bottom: 0;
    left: 43px;
    display: block;
    height: 18px;
    top: 157px;
    font-size: 13px;
    text-transform: capitalize;
}
span.year_text {
    position: absolute;
    /* top: 0px; */
    bottom: 92px;
    display: block;
    font-size: 43px;
    font-weight: 600;
    right: 25px;
}
.heade_homepage .container {
    position: relative;
}
.in_text-withline {
    color: #fff;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 201px;
    bottom: 0;
    margin: auto;
    font-size: 44px;
    font-weight: 600;
    left: 412px;
}
.in_text-withline::before {
    content: "";
    display: block;
    border: 7px dotted #fff;
    position: absolute;
    left: 53px;
    width: 208px;
    top: 34px;
    border-left: 0;
    border-bottom: 0;
}
.performing_research::before {
    content: "";
    display: block;
    border: 7px dotted #fff;
    transform: rotate(90deg);
    position: absolute;
    width: 160px;
    left: -37px;
    top: -87px;
    border-left: 0;
    border-bottom: 0;
}

.performing_research {
    position: absolute;
    color: #fff;
    width: 207px;
    display: block;
    top: 450px;
    left: 108px;
}

/*cahnges*/
.section_4--home_page .row
{
    position: relative;
}
.section_5--home_page .container_hight-100 .container .row .col-md-4:last-child .row h5 {
    display: block;
    width: 100%;
    font-size: 19px;
}

.section_5--home_page .container_hight-100 .container .row .col-md-4:last-child .row h4 {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 60px;
    margin: 0px;
}
ul.list_items_header_hompage li {
    line-height: 37px;
    margin-bottom: 20px;
}

ul.list_items_header_hompage {
    padding: 0px;
    list-style: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 39px;
}
ul.list_items_header_hompage li a svg {
    width: 35px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
ul.list_items_header_hompage li a span {
    font-size:18px;
    /*padding-left: 20px;*/
    display: block;
    font-weight: 100;
}
ul.list_items_header_hompage li a:hover
{
    color: #fff;
    text-decoration: none;
}
ul.list_items_header_hompage li:last-child {
    margin: 0;
}

ul.list_items_header_hompage {
    padding: 0px;
    list-style: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    left: 57%;
    top: 120px;
    width: 543px;
    /* background: rebeccapurple; */
    border-left: 7px dotted #fff;
    padding-left: 14px;
    margin: 0;
}
ul.list_items_header_hompage li a {
    font-weight: 600;
    font-size: 27px;
}
.heading_block_left_section-2--home_page img
{
    width: auto;
    float: left;
    margin-right: 7px;
}
h3.heaidng_right_section_3_section-3--home_page img
{
    width: auto;
    float: left;
    margin-right: 10px;
}
.float-right.right_column_section_4--home_page .row .col-md-12 {
    padding: 0px;
}
.header_menu_main ul {
    display: flex;
    list-style: none;
    /*background: red;*/
    width: 369px;
    position: absolute;
    right: 50px;
    padding: 0px;
    top: 10px;
    z-index: 9999;
}
.header_menu_main ul li
{
    margin: auto;
}
.header_menu_main ul li a
{
    color: #fff;
    text-transform: capitalize;
}
.header_menu_main ul li a:hover
{
    color: #fff;
    text-decoration: none;
}




/*foooter*/
.row.footer-top_row .col-md-4 {
    display: flex;
    align-items: center;
}

.row.footer-top_row .col-md-4 span {
    width: 80%;
    display: block;
    float: left;
}
.row.footer-top_row .col-md-4 img {
    width: 40px;
    float: left;
    margin-right: 10px;
    margin-top: -37px;
}
.row.footer-top_row .col-md-4 span a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 0px 0px;
    display: block;
    font-weight: 400;
}

.row.footer-top_row .col-md-4 span h4 {
    font-weight: 600;
    color: #488ca9;
    margin: 0px;
    font-size: 1rem;
}
.row.footer-top_row .col-md-4:nth-child(2) img {
    height: 65px;
    width: 39px;
    margin-top: -19px;
}
.row.footer-top_row .col-md-4:nth-child(3) img {
    height: 57px;
    width: 48px;
    display: block;
    margin-top: -17px;
}
.row.footer-top_row .col-md-4:nth-child(1) img {
    height: 45px;
    width: 59px;
    margin-top: -22px;
}
.row.footer-top_row {
    margin: 40px 0px 0px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid #488ca9;
}
.row.footer-top_row .col-md-4:nth-child(3) {
    padding-left: 105px;
}

.row.footer-top_row .col-md-4:nth-child(2) {
    padding-left: 100px;
}
.follow_us_row
{
    position: relative;
    padding-bottom: 20px;
}
.follow_us_row span
{
    width: 100px;
    background: #4691a8;
    height: 34px;
    padding: 2px;
    margin: 0 auto;
    color: #fff;
    -webkit-clip-path: polygon(50% 0,100% 0,100% 100%,50% 90%,0 100%,0 0);
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    line-height: 27px;
    font-weight: 600;
    margin-top: -2px;
}
.row.icons_container_social ul li a i {
    border: 1px solid #000;
    border-radius: 50%;
    /* padding: 12px; */
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 17px;
    display: flex;
    align-items: center;
    transition: 0.3s all ease-in-out;
    text-align: center;
    justify-content: center;
}

.row.icons_container_social ul li {
    margin: auto;
}
.row.icons_container_social ul {
    display: flex;
    list-style: none;
    /* background: red; */
    width: 202px;
    margin: 0 auto 20px;
    padding: 0px;
}
.row.icons_container_social ul li a i:hover {
    color: #fff;
    background: #02273b;
    transition: 0.3s all ease-in-out;
    font-size: 12px;
    line-height: 25px;
}
.row.all_right_reserved {
    background: #27282b;
    color: #f3f3f3;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    display: block;
    text-transform: capitalize;
}


/*header main*/
#main-header img
{
    width: 136px;
    height: 64px;
}
header#main-header {
    background: #fff;
    border-bottom: 1px solid #cccc;
}
header#main-header .container .row {
    display: flex;
    align-items: center;
}
header#main-header ul li a {
    text-transform: capitalize;
    color: #4691a8;
    font-size: 19px;
}
header#main-header ul li {
    margin-left: 45px;
}
header#main-header ul {
    display: flex;
    list-style: none;
    float: right;
    margin: 0;
}


/*single case studies*/

.the_post_thumbnail_single_case .col-md-4 img
{
    height: 200px;
    width: 200px;
}
.the_excerpt_single_case p {
    color: #fff;
    /* font-weight: 600; */
    width: 44%;
    font-size: 30px;
    text-transform: capitalize;
    background: transparent;
}
.maing_top_caontainer_single_case
{
    padding: 150px 0px;
}
.btton_container_lets_workTogether
{
    padding: 10px 50px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
}
.btton_container_lets_workTogether:hover
{
    color: #fff;
}
.maing_top_caontainer_single_case
{
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
}
.bg-dark_single_casestudie {
    background: #d5dede;
    padding: 40px 0px;
}
.row.bg-dark_single_casestudie h3 {
    color: #4691a8;
    margin: 0px;
    display: block;
    padding: 0px;
    font-size: 30px;
    margin-bottom: 30px;
}
.row.bg-dark_single_casestudie p {
    color: #000;
    line-height: 24px;
    font-size: 15px;
    width: 80%;
    display: block;
}
.list-solutions_provided-single_casestudies
{
    padding: 0px;
    margin: 0;
    padding-left: 20px;
}
.list-solutions_provided-single_casestudies li
{
    width: 48%;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
    text-transform: capitalize;
}
.list-solutions_provided-single_casestudies li:nth-child(n+1)
{
    margin: 0px;
}
.second_image_contaienr
{
    display: flex;
    align-items: center;
    margin: 100px 0px !important;
}
.second_image_contaienr img
{
    width: 100%
}
.section_2_text_single_case
{
    text-align: center;
    font-size: 20px;
    margin: 40px 0px;
    display: block;

}
.section_4_text-single_case
{
    padding: 100px 0px;
}
.container_next-previous
{
    position: relative;
        display: flex;
    align-items: center;
}
.previous_post_link
{
    position: absolute;
    left: 0px;
}
.nexT-posT-link
{
    position: absolute;
    right: 0px;
}
.bg-dark_single_casestudie1
{
    align-items: center;
}
.row.bread_crumb_contaienr ul li a {
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    display: block;
}

.row.bread_crumb_contaienr ul li::after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    position: absolute;
    background: #fff;
    right: 0px;
    top: 2px;
}
.row.bread_crumb_contaienr ul li:last-child::after {
    display: none;
}
.row.bread_crumb_contaienr ul li {
    margin-right: 14px;
    position: relative;
    padding-right: 14px;
}
.row.bread_crumb_contaienr ul {
    display: flex;
    list-style: none;
    margin: 0;
}
.row.bread_crumb_contaienr {
    background: #4691a9;
    padding: 5px 0px;
}

/*career form*/


.row.top_row_container {
    border-bottom: 1px solid #cccc;
    padding: 40px 0px;
    font-size: 20px;
}
.row.top_row_container p {
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
}

.row.top_row_container h3 {
    font-size: 33px;
    font-weight: 1000;
}
.row.from-row_container h2 {
    font-size: 33px;
    text-transform: capitalize;
    font-weight: 1000;
}
.contaienr_ormf
{
    width: 80%;
    margin: 0 auto;
}
.row.from-row_container {
    margin: 40px 0px !important;
}
.container.contaienr_ormf form input[type='text'],
.container.contaienr_ormf form input[type='email'],
.container.contaienr_ormf form input[type='tel'],
.container.contaienr_ormf form textarea {
    border: 2px solid #0c2b5a !important;
    /* width: 20px !important; */
    height: 48px !important;
    color: #000;
}
.container.contaienr_ormf form textarea
{
    height: 180px !important;
    max-height: 180px;
    min-height: 180px;
    min-width: 100%;
}
.wpforms-submit-container button {
    background: #4691a8 !important;
    color: #fff !important;
}

.wpforms-submit-container {
    position: relative;
    width: 100% !important;
    clear: none;
    border: 1px solid #cccc !important;
    /* left: 0px; */
    text-align: center;
    /* margin: 27px 0px !important; */
    padding: 20px !important;
    border-left: 0 !important;
    border-right: 0 !important;
    margin: 20px 0px !important;
}



/*blog css*/
.container_blog_post_main
{
    max-width: 100%;
    width: 95%;
}
.row.main_single_post_container .container {
    max-width: 100%;
    width: 90%;
}
.row.the_post_thumbnail_single img {
    width: 100%;
    height: 100%;
}

.row.the_post_thumbnail_single {
    height: 500px;
}
.list_contaienr_maiN_top
{
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

span.span_container img
{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
span.span_container img:first-child
{
    display: block;
}
ul.list_contaienr_maiN_top li {
    padding: 40px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
ul.list_contaienr_maiN_top li h3
{
    color: #000;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
.congtainer_main_tabs-blog .row .col-md-5,
.congtainer_main_tabs-blog .row .col-md-7
{
    padding: 0px;
    overflow: hidden;
}
li.active_li_blog {
    background: #3db2e4;
    color: #fff;
}
li.active_li_blog h3
{
    columns: #fff;
}
li#SomeID h3 {
    color: #fff;
    text-transform: capitalize;
}

li#SomeID {
    background: #24779a;
    color: #fff;
    position: relative;
}
li#SomeID::before {
    content: "";
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    color: #fff;
    background: #fff;
    left: -9px;
    top: 0px;
    bottom: 0;
    align-items: center;
    top: 91px;
    transform: rotate(45deg);
}
.list_container_categories ul
{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.list_container_categories ul li
{
    margin: auto;
}
.list_container_categories ul li:first-child
{
    margin-left: 0px;
}
.list_container_categories_row,
.list_container_categories_row .container
{
    display: flex;
    align-items: center;
}
.row.list_container_categories_row {
    height: 66px;
    font-size: 18px;
    text-transform: capitalize;
    background: #fbfbfbcc;
}
.list_container_categories_row .container .row .col-md-6
{
    padding: 0px;
}
.list_container_categories ul li a
{
    color: #24779a;
    font-weight: 600;
    position: relative;
    transition: width .4s ease;
    padding-bottom: 5px;
}
.list_container_categories ul li a {
    display: inline-block;
    color: #24779a;
    text-decoration: none;
}

.list_container_categories ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #24779a;
    transition: width .3s;
}

.list_container_categories ul li a:hover::after {
    width: 100%;
    //transition: width .3s;
}
input#search {
    padding-left: 10px;
    border: 1px solid #cccc;
}
button.submit_butt::before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: #fff;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
        z-index: 999;
    margin: auto;
}

button.submit_butt {
    border: none;
    color: #000;
    position: relative;
    font-size: 0px;
    height: 30px;
    margin-top: 0;
    position: absolute;
    top: 0px;
    background: none;
    right: 1px;
    width: 30px;
    border: none;
}
button.submit_butt::after {
    content: "";
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 13px;
    border: 3px solid #ccc;
    background: #fff;
    top: 15px;
    left: 0px;
    right: -2px;
    bottom: 0;
    margin: auto;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    transform: rotate(-45deg);
}
.the_content_signle_carer
{
    margin: 50px 0px !important;
    display: block;
}
.the_content_signle_carer p
{
    width: 100% !important;
}

/*subscribe form*/
.form_container_subscribe_villaex form .wpforms-submit-container button {
    width: 100% !important;
    max-width: 100%;
    padding: 5px 0px !important;
    text-transform: capitalize;
    font-size: 18px !important;
    border: 0px !important;
}

.form_container_subscribe_villaex form .wpforms-submit-container {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}
.form_container_subscribe_villaex p {
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.8px;
    text-align: left;
    margin: 0px;
}
.form_container_subscribe_villaex {
    border: 1px solid #cccc;
    padding: 40px;
    margin: 50px 0px;
}
.form_container_subscribe_villaex h2 {
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 1000;
    text-align: center;
    text-align: left;
}



/*responsive layout hoempage*/

@media only screen and (max-width: 900px)
{
    .container.main_container_section_2_homepage
    {
        width: 100%;
    }
    .heade_homepage
    {
        height: auto;
    }
    .performing_research
    {
        display: none;
    }
    ul.list_items_header_hompage
    {
        position: static;
        margin-left: 124px;
        /* padding: 80px 0px; */
        margin: 80px 0px;
        width: auto;
    }
}