body
{
	margin: 0px;
}
*
{
    font-family: 'Open Sans', sans-serif;
}
a
{
	color: inherit;
	text-decoration: none;
}
a:hover
{
	text-decoration: none;
}
img
{
	width: 100%;
}
.container
{
	max-width: 1170px;
	width: 1170px;
	margin: 0 auto;
}
.row
{
	width: 100%;
	/*display: flex;*/
}
.col-md-6
{
	width: 50%;
	float: left;
}
.col-md-4
{
	width: 33.3%;
	float: left;
	padding: 10px;
}
.col-md-12
{
	width: 100%;
	float: left;
}
.text-center
{
	text-align: center;
}
.display_flex {

    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

}
.col-md-5
{
	width: 40%;
}
.push-right
{
	margin-right: 0px;
}
.float-right
{
	float: right;
}
.col-md-9
{
	width: 80%;
	float: left;
}
.col-md-3
{
	width: 20%;
	float: left;
}
.padding-right-0
{
	padding-right: 0px !important;
}
/********************************************
*********************************************
*********************************************
**************** Home Page ******************
*********************************************
*********************************************
*********************************************
*/
p {
    font-size: 15px;
}

.section_2_home_page {
	width: 100%;
    background-color: #cbd2d3;
    background-size: 890px 890px;
    background-repeat: no-repeat;
    padding-bottom: 161px;
    background: #cbd2d3 url(./includes/images/map-home.png);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    padding: 100px 0px;
    background-repeat: no-repeat;
    background-position: left top;
     padding-top: 0px;
    height: 600px;
    float: left;
}
.section_2_home_page .container
{
	padding: 0px 0px;
	position: relative;
	height: 100%;
}
.main_container_section_2_homepage
{
	padding: 100px 0px !important;
}
.block_right {
    position: absolute;
    top: 0px;
    background: #02263B;
    width: 394px;
    height: 394px;
    right: 0px;
    text-align: center;

}
.block_right .display_flex h2
{
    align-content: center;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}
.left_block {
    width: 33%;
    float: left;
    background: #fff;
    display: block;
    border: 4px solid #02263B;
    display: flex;
    align-items: center;
    /*height: 400px;*/
    padding: 40px 0px;

}
.left_block .container {

    width: 80%;
    padding: 0px;
    display: block;
    max-width: 100%;

}
.main_heading_left_block_section_2--home_page {
    font-weight: 600;
    color: #4691a8;
    font-size: 34px;
    margin: 0px 0px 20px;
}
.heading_block_left_section-2--home_page {

    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    display: block;
    font-weight: 700;
    text-transform: capitalize;

}
.description_left_block_section_2--home_page
{
	width: 90%;
}
.botton_text_section_2--home_page {

    width: 40%;
    position: absolute;
	bottom: 120px;
    right: 0px;
    color: #000;
    font-weight: 400;

}
.view_more_button_section_2--home_page
{
	padding: 35px 25px 40px;
	color: #fff;
	background-color: #4691a8;
	border-color: #005cbf;
	cursor: pointer;
	border-radius: 6px;
}
.description_bottom_text_section_2--home_page
{
	width: 90%;
	margin: 0px;
}

.section_3--home_page
{
	float: left;
	width: 100%;
	padding: 80px 0px;
	background: #f7f7f7;
}
.heading_section_3
{
	font-weight: 600;
    color: #23444e;
    margin: 0px 0px 30px 0px;
}
.col-md-6-with-padding
{
	padding: 0px 20px;
	width: 46%
}
.heaidng_right_section_3_section-3--home_page
{
	    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    display: block;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px;
}
.align-item-top
{
	align-items: baseline;
}
.section_4--home_page
{
	float: left;
	width: 100%;
	padding: 60px 0px;
}
.view_more_button_section_2--home_page1
{
	background: #334692
}


.right_column_section_4--home_page
{
    border: 4px solid #23444e;
    padding: 40px 30px;
    height: 100%;
    margin-top: -100px;
    width: 35%;
    /* display: flex; */
    /* align-items: center; */
    /* height: 450px; */
    padding: 131px 30px;
}
.heading_section_4--home_page {
    color: #2f4794;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: -20px;
}
.section_5--home_page
{
    float: left;
    width: 100%;
    background-color: #02263b;
    height: 230px;
    color: #fff;
    margin-bottom: 50px;
    padding: 20px 0px;
}
.column_section-5--home_page {
    width: 33%;
    /* float: left; */
    padding: 0px 20px;
    text-align: center;
}
.container_hight-100
{
	height: 100%;
}
.column_section-5--home_page h1,
.column_section-5--home_page h2,
.column_section-5--home_page h3,
.column_section-5--home_page h4,
.column_section-5--home_page h5,
.column_section-5--home_page h6
{
	margin: 0px;
}
.heaidng_clients_section-5
{
	font-size: 5rem;
    font-weight: 1000;
}
.heading_located_in_section-5--home_page
{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}
.column_section-5--home_page.border-left-right__home_page--section_5 {
    border: 3px solid #fff;
    border-top: 0;
    border-bottom: 0px;
}
.Clients_satsisfied
{
    font-size: 1.3rem;
}
.heaidng_3_section_5--home_page
{
	font-size: 2rem
}
.column_section-5--home_page h5
{
	font-weight: 100;
}
.columns_casestudies_homepage {
    width: 32%;
    float: left;
    border: 3px dotted #000;
    height: 250px;
    display: flex;
    align-items: center;
    border-left: 0;
    border-top: 0;
}
.columns_casestudies_homepage img {
    width: 54%;
    margin: 0 auto;
}
.casestudies-description_homepage
{
	width: 60%;
	margin: 0 auto 30px;
	font-size: 17px;
}
.border-btoom_0
{
	border-bottom: 0;
}
.border-rihgtee_0
{
	border-right: 0px;
}
.section_6--home_page
{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.section_7--home_page
{
        float: left;
    width: 100%;
    background: #f7f7f7;
    margin-bottom: 50px;
        position: relative;
    padding-bottom: 30px;
}
.blog-column
{
    display: block;
    width: 29%;
    height: 415px;
    background: #e4e4e4;
    padding: 20px 15px;
    float: left;
    margin-right: 20px;
    position: relative;
}
.blog_heading_title--homepage
{
    margin: 10px 0px;
}
.excerpt_blog--homepage
{
    font-size: 17px;
    color: #000;
    font-weight: 450;
}
span.pusblished_blog_date--home_page {
    position: absolute;
    bottom: 16px;
    font-size: 12px;
    left: 30px;
}
.Browse_all--home-page
{
    width: 143px;
    display: block;
    height: 35px;
    background: #02263b;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 32px;
}

.button_row_blog
{
    float: left;
    text-align: center;
    margin: 50px 0px 0px;
}
.section8--homepage.join_our_team
{
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.heaidng_join {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 40px;
    color: #1f1f1f;
    margin-bottom: 80px;
}
.block_left_join_out_team1
{
    width: 611px;
    float: left;
    position: relative;
    height: 390px;
    display: block;
    background: url('./includes/images/join_our_team/job.svg');
}
.block_left_join_out_team1 h2 {
    color: #fff;
    font-size: 18px;
    width: 360px;
    position: absolute;
    right: 31px;
    top: 20px;
}
.applynow_row
{
        position: absolute;
    bottom: 50px;
    left: 40px;
}
.button_arrow_block_join_our_team
{
    position: relative;
    bottom: 0px;
    width: 88px;
    height: 37px;
    display: block;
    border: 3px solid #fff;
}
span.button_arrow_block_join_our_team img {
    width: 39px;
    height: 24px;
    margin: 0 auto;
    display: block;
    margin-top: 6px;
}
.applynow_text--home
{
    color:  #fff;
    margin: 20px 0px;
    display: block;
}
.icon_shake1
{
    height: 112px;
    width: 80px;
    position: absolute;
    bottom: 40px;
    right: 50px;
}
.block_right_join_our_team--homepage {
    display: block;
    width: 196px;
    height: 196px;
    border: 4px solid #4691a8;
    float: left;
}
.main_row_join_our_team--homepage
{
    display: block;
    width: 834px;
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    /* text-align: center; */
}
.block_right_join_our_team--homepage .display_flex span
{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: #4691a8;
    text-transform: capitalize;
    font-weight: 600;
}
.block_left_join_out_team21
{
    background: url('./includes/images/join_our_team/careers.svg');
}
.block_right_join_our_team--homepage1 .display_flex span>span
{
    font-size: 13px;
    display: block;
    width: 80%;
    color: #044e5e;
    margin: 0 auto;
    margin-top: 20px;
}
.block_right_join_our_team--homepage1
{
    border-color: #02273b;
}
.block_right_join_our_team--homepage1 .display_flex span
{
    color: #02273b;
}
.block_left_join_out_team21 h2
{
    left: 30px;
}
.icon_shake21
{
    left: 50px;
    width: 110px;
}
.applynow_row1
{
    right: 30px;
    width: auto;
    left: auto;
}
.margin_0auto
{
    margin: 0 auto;
}
.heaidng_join1
{
    margin-top: 50px;
}